{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock %}

{% block css_block %}
<style>
    .edit{
        background-color: rgb(152, 152, 230);
        width: 550px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
    }
</style>
{% endblock %}


{% block content %}
<center>
    <div class="edit">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary" style="width: 100%;">Update Profile</button>
        </form>
    </div>
</center>

{% endblock %}